div#container
{
   width: 1914px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   color: #787878;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
}
#wb_footerText div
{
   text-align: center;
}
#wb_footerText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#StickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   border-radius: 0px;
   opacity: 0.77;
}
#wb_up-arrow
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 23px;
}
#wb_up-arrow:hover #up-arrow i
{
   color: #EEEEEE;
}
.ToolTip1
{
   position: absolute;
   z-index: 1070;
   display: block;
   margin: 0;
   line-height: 1.5;
   text-align: left;
   text-decoration: none;
   opacity: 0;
}
.ToolTip1.show
{
   opacity: 0.9;
}
.ToolTip1 .tooltip-arrow
{
   position: absolute;
   display: block;
   width: 20px;
   height: 10px;
}
.ToolTip1 .tooltip-arrow::before
{
   position: absolute;
   content: "";
   border-color: transparent;
   border-style: solid;
}
.ToolTip1 .tooltip-arrow:after
{
   content: "";
   position: absolute;
   width: 0;
   height: 0;
   border-color: transparent;
   border-style: solid;
   z-index: -1;
}
.ToolTip1.bs-tooltip-bottom, .ToolTip1.bs-tooltip-auto[x-placement^="bottom"]
{
   padding: 11px 0;
}
.ToolTip1.bs-tooltip-bottom .tooltip-arrow, .ToolTip1.bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow
{
   top: 2px;
}
.ToolTip1.bs-tooltip-bottom .tooltip-arrow::before, .ToolTip1.bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow::before
{
   bottom: 0;
   border-width: 0 10px 10px;
   border-bottom-color: rgba(255,255,240,1.00);
}
.ToolTip1.bs-tooltip-bottom .tooltip-arrow::after, .ToolTip1.bs-tooltip-auto[x-placement^="bottom"] .tooltip-arrow::after
{
   top: -1px;
   left: 50%;
   margin-left: -11px;
   border-width: 0 11px 11px;
   border-bottom-color: #CCCCCC;
}
.ToolTip1 .tooltip-inner 
{
   max-width: 150px;
   background-color: #FFFFF0;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-size: 11px;
   font-style: normal;
   color: #000000;
   text-align: left;
   padding: 10px 10px 10px 10px;
}
.fade
{
   opacity: 0;
   transition: opacity .15s linear;
}
.fade.show
{
   opacity: 1;
}
.ToolTip1.animate-show
{
   animation-duration: 1000ms;
   animation-fill-mode: both;
   animation-name: slide-up-in;
}
#wb_Header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #303A53;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#Header
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1400px;
}
#Header > .col-1, #Header > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#Header > .col-1, #Header > .col-2
{
   flex: 0 0 auto;
}
#Header > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#Header > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 66.66666667%;
   max-width: 66.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}
@media (max-width: 480px)
{
#Header > .col-1, #Header > .col-2
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 140px 0 65px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1300px;
}
#LayoutGrid2 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 100px;
   padding-left: 100px;
   position: relative;
}
#LayoutGrid2
{
   width: 1914px;
}
#LayoutGrid2 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid2
{
   width: 100%;
}
#LayoutGrid2 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 10vh;
   background-color: #303A53;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   height: 10vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 20px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 35px;
   padding-left: 35px;
   position: relative;
}
#LayoutGrid5 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid5 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_FlexContainer3
{
   background-color: transparent;
   background-image: url('../images/stad1.jpg');
   background-repeat: no-repeat;
   background-position: center bottom;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   position: relative;
}
#FlexContainer3
{
   display: flex;
   position: relative;
   min-height: 25vh;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
   box-sizing: border-box;
   font-size: 0;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #303A53;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 15px 0 15px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1500px;
}
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   flex: 0 0 auto;
}
#footer > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#footer > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-end;
   align-self: stretch;
   align-items: flex-end;
   justify-content: center;
   text-align: center;
}
#footer > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#footer > .col-1, #footer > .col-2, #footer > .col-3
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image1
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   animation: animate-fade-in 3000ms linear 300ms 1 normal both;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
   object-fit: scale-down;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article2 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article2 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article2 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article2 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article2 .blogsubject a:link, #Article2 .blogsubject a:visited, #Article2 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments a:link, #Article2 .blogcomments a:visited, #Article2 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments
{
   text-decoration: none;
}
#Article2 .no-thumb
{
   display: none;
}
#Article2 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article2 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article2 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article2 .blogdate, #Article2 .blogcomments
{
   display: none;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article1 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article1 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article1 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 48px;
   margin: 0;
   text-align: left;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 50px 0 50px 0;
   text-align: left;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 120px 0 30px 0;
   text-align: left;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#Article3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article3 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article3 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article3 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article3 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article3 .blogsubject a:link, #Article3 .blogsubject a:visited, #Article3 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments a:link, #Article3 .blogcomments a:visited, #Article3 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments
{
   text-decoration: none;
}
#Article3 .no-thumb
{
   display: none;
}
#Article3 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article3 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article3 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article3 .blogdate, #Article3 .blogcomments
{
   display: none;
}
#Article3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_SlideShow1
{
   min-height: 20px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow1
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow1 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow1 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   transition: 0.6s ease-in-out left;
}
#SlideShow1 .carousel-inner > .carousel-item > img, #SlideShow1 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow1 .carousel-inner > .active, #SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow1 .carousel-inner > .active
{
   left: 0;
}
#SlideShow1 .carousel-inner > .carousel-item-next, #SlideShow1 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow1 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .carousel-item-next.carousel-item-start, #SlideShow1 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   left: 0;
}
#SlideShow1 .carousel-inner > .active.carousel-item-start
{
   left: -100%;
}
#SlideShow1 .carousel-inner > .active.carousel-item-end
{
   left: 100%;
}
#SlideShow1 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow1 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 4px;
   width: 100%;
}
#SlideShow1 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #000000;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 120px 0 30px 0;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#Article4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article4 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article4 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article4 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article4 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article4 .blogsubject a:link, #Article4 .blogsubject a:visited, #Article4 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments a:link, #Article4 .blogcomments a:visited, #Article4 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments
{
   text-decoration: none;
}
#Article4 .no-thumb
{
   display: none;
}
#Article4 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article4 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article4 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article4 .blogdate, #Article4 .blogcomments
{
   display: none;
}
#Article4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_SlideShow2
{
   min-height: 20px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow2
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow2 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow2 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   transition: 0.6s ease-in-out left;
}
#SlideShow2 .carousel-inner > .carousel-item > img, #SlideShow2 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow2 .carousel-inner > .active, #SlideShow2 .carousel-inner > .carousel-item-next, #SlideShow2 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow2 .carousel-inner > .active
{
   left: 0;
}
#SlideShow2 .carousel-inner > .carousel-item-next, #SlideShow2 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow2 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow2 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow2 .carousel-inner > .carousel-item-next.carousel-item-start, #SlideShow2 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   left: 0;
}
#SlideShow2 .carousel-inner > .active.carousel-item-start
{
   left: -100%;
}
#SlideShow2 .carousel-inner > .active.carousel-item-end
{
   left: 100%;
}
#SlideShow2 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow2 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 4px;
   width: 100%;
}
#SlideShow2 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #000000;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 120px 0 30px 0;
   text-align: left;
}
#Heading5
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#Article5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   margin: 0;
   text-align: left;
   line-height: 1.2;
   display: inline-block;
   position: relative;
   width: 100%;
}
#Article5 .blogitem
{
   margin-bottom: 6px;
   padding: 0px;
   text-align: left;
}
#Article5 .blogdate
{
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article5 .blogsubject
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article5 .blogcomments
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article5 .blogsubject a:link, #Article5 .blogsubject a:visited, #Article5 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article5 .blogcomments a:link, #Article5 .blogcomments a:visited, #Article5 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article5 .blogcomments
{
   text-decoration: none;
}
#Article5 .no-thumb
{
   display: none;
}
#Article5 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article5 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article5 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article5 .blogdate, #Article5 .blogcomments
{
   display: none;
}
#Article5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_SlideShow3
{
   min-height: 20px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid #E3E3E3;
   border-radius: 0px;
   box-sizing: border-box;
   width: 100%;
   table-layout: fixed;
   display: table;
   margin: 0;
}
#SlideShow3
{
   padding: 30px 40px 30px 40px;
   position: relative;
   margin: 0;
   line-height: 1;
   height: 100%;
   box-sizing: border-box;
}
#SlideShow3 .carousel-inner
{
   overflow: hidden;
   width: 100%;
   position: relative;
}
#SlideShow3 .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   transition: 0.6s ease-in-out left;
}
#SlideShow3 .carousel-inner > .carousel-item > img, #SlideShow3 .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#SlideShow3 .carousel-inner > .active, #SlideShow3 .carousel-inner > .carousel-item-next, #SlideShow3 .carousel-inner > .carousel-item-prev
{
   display: block;
}
#SlideShow3 .carousel-inner > .active
{
   left: 0;
}
#SlideShow3 .carousel-inner > .carousel-item-next, #SlideShow3 .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#SlideShow3 .carousel-inner > .carousel-item-next
{
   left: 100%;
}
#SlideShow3 .carousel-inner > .carousel-item-prev
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .carousel-item-next.carousel-item-start, #SlideShow3 .carousel-inner > .carousel-item-prev.carousel-item-end
{
   left: 0;
}
#SlideShow3 .carousel-inner > .active.carousel-item-start
{
   left: -100%;
}
#SlideShow3 .carousel-inner > .active.carousel-item-end
{
   left: 100%;
}
#SlideShow3 .thumbnails
{
   margin: 0;
   padding: 0;
   width: 100%;
}
#SlideShow3 .thumbnail
{
   position: relative;
   min-height: 1px;
   box-sizing: border-box;
   float: left;
   text-align: center;
   vertical-align: top;
   padding-right: 4px;
   width: 100%;
}
#SlideShow3 .thumbnail img
{
   max-width: 100%;
   width: 100%;
   height: auto;
   vertical-align: middle;
   box-sizing: border-box;
   border: 0px solid #000000;
   border-radius: 0px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#Breadcrumb2
{
   list-style: none;
   padding: 8px 15px 8px 15px;
   background-color: #303A53;
   background-image: none;
   border: 1px solid #303A53;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
   text-align: left;
}
#Breadcrumb2 > li
{
   display: inline-block;
   font-size: 13px;
}
#Breadcrumb2 a
{
   color: #303A53;
   text-decoration: none;
}
#Breadcrumb2 a:hover
{
   color: #303A53;
   text-decoration: none;
}
#Breadcrumb2 > .active
{
   color: #303A53;
}
#Breadcrumb2 > .active a
{
   color: inherit;
   pointer-events: none;
}
#Breadcrumb2 > li + li:before
{
   content: "/";
   padding: 0 5px;
   color: #303A53;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 0;
   animation: animate-fade-in 3000ms linear 300ms 1 normal both;
   text-align: right;
   z-index: 1111 !important;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 39px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #C0C0C0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   text-align: left;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid transparent;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 li:hover, #wb_CssMenu1 li a:hover
{
   position: relative;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 0px 0 0px;
   background-image: none;
}
#wb_CssMenu1 li:hover a.withsubmenu, #wb_CssMenu1 a.withsubmenu:hover
{
   background-image: none;
}
#wb_CssMenu1 ul ul
{
   position: absolute;
   z-index: 9999;
   left: 0;
   top: 0;
   visibility: hidden;
   width: 135px;
   height: auto;
   border: none;
   background-color: transparent;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 28px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 135px;
   padding: 0 0px 0px 0px;
   border: 0px solid #C0C0C0;
   border-width: 0 0px;
}
#wb_CssMenu1 li li.firstitem
{
   border-top: 0px #C0C0C0 solid;
}
#wb_CssMenu1 li li.lastitem
{
   border-bottom: 0px #C0C0C0 solid;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   float: none;
   margin: 0;
   width: 122px;
   height: auto;
   white-space: normal;
   padding: 7px 5px 6px 6px;
   background-color: #303A53;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-align: center;
   text-decoration: none;
}
#wb_CssMenu1 ul :hover ul .firstitem a
{
   margin-top: 0px;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul :hover ul a.active
{
   background-color: #A2B9CE;
   background-image: none;
   border: 1px solid transparent;
   color: #FFFFFF;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#CssMenu1 li i
{
   font-size: 15px;
   margin-right: 4px;
   width: 17px;
}
#wb_Breadcrumb2
{
   display: inline-block;
   width: 608px;
   height: 28px;
   z-index: 15;
   vertical-align: top;
}
#Article5
{
   overflow: hidden;
}
#wb_CssMenu1
{
   display: inline-block;
   width: 460px;
   height: 28px;
   z-index: 2;
}
#Article4
{
   overflow: hidden;
}
#Article3
{
   overflow: hidden;
}
#wb_Image1
{
   display: inline-block;
   width: 286px;
   height: 52px;
   z-index: 1;
}
#Article1
{
   overflow: hidden;
}
#wb_up-arrow
{
   position: absolute;
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   text-align: center;
   z-index: 0;
}
#wb_Heading4
{
   display: inline-block;
   width: 100%;
   z-index: 9;
}
#wb_SlideShow3
{
   display: inline-block;
   position: relative;
   width: 1220px;
   height: 636px;
   z-index: 14;
}
#wb_Heading5
{
   display: inline-block;
   width: 100%;
   z-index: 12;
}
#wb_SlideShow2
{
   display: inline-block;
   position: relative;
   width: 1220px;
   height: 690px;
   z-index: 11;
}
#wb_Heading2
{
   display: inline-block;
   width: 100%;
   z-index: 4;
}
#wb_SlideShow1
{
   display: inline-block;
   position: relative;
   width: 1220px;
   height: 699px;
   z-index: 8;
}
#wb_Heading3
{
   display: inline-block;
   width: 100%;
   z-index: 6;
}
#wb_Heading1
{
   display: inline-block;
   width: 100%;
   z-index: 3;
}
#StickyLayer
{
   position: fixed;
   text-align: left;
   left: auto;
   right: 25px;
   top: auto;
   bottom: 25px;
   width: 50px;
   height: 50px;
   z-index: 19;
}
@media only screen and (max-width: 1913px)
{
div#container
{
   width: 459px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_footerText
{
   visibility: visible;
   display: block;
}
#wb_footerText
{
   font-family: Arial;
   font-weight: 400;
   font-size: 13px;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 16px;
}
#StickyLayer
{
   width: 50px;
   height: 50px;
   visibility: visible;
   display: block;
}
#wb_up-arrow
{
   left: 9px;
   top: 8px;
   width: 24px;
   height: 24px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#up-arrow
{
   width: 24px;
   height: 24px;
}
#up-arrow i
{
   line-height: 24px;
   font-size: 24px;
   width: 23px;
}
#ToolTip1
{
   left: 1960px;
   top: 343px;
   width: 28px;
   height: 28px;
   visibility: visible;
   display: inline;
}
#Timer1
{
   left: 1960px;
   top: 405px;
   width: 50px;
   height: 50px;
   visibility: visible;
   display: inline;
}
#wb_Header
{
   visibility: visible;
   display: table;
}
#wb_Header
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#Header
{
   height: auto;
   padding: 10px 0 10px 0;
}
#Header > .col-1, #Header > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#Header > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#Header > .col-2
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid2
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   height: auto;
   padding: 140px 0 65px 0;
}
#LayoutGrid2
{
   width: 100%;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid5
{
   height: 10vh;
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   height: 10vh;
   padding: 20px 0 20px 0;
}
#LayoutGrid5 > .col-1
{
   padding-right: 35px;
   padding-left: 35px;
}
#LayoutGrid5 > .col-1
{
   display: flex;
   flex-basis: 100%;
   max-width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   align-content: flex-start;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#wb_FlexContainer3
{
   visibility: visible;
   display: block;
}
#FlexContainer3
{
   min-height: 25vh;
   margin-top: 0px;
   margin-bottom: 0px;
   padding: 50px 10px 50px 10px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: center;
}
#wb_footer
{
   visibility: visible;
   display: table;
}
#wb_footer
{
   height: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}
#footer
{
   height: auto;
   padding: 15px 0 15px 0;
}
#wb_Image1
{
   width: 272px;
   height: 67px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
}
#Image1
{
   width: 272px;
   height: 67px;
}
#wb_Breadcrumb2
{
   width: 272px;
   height: 28px;
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#Breadcrumb2
{
   padding: 8px 15px 8px 15px;
   text-align: left;
}
#Breadcrumb2 > li + li:before
{
   padding: 0 5px;
}
#wb_CssMenu1
{
   visibility: visible;
   display: inline-block;
   margin: 0;
   text-align: right;
}
#wb_CssMenu1 li
{
}
#wb_CssMenu1 a
{
   color: #C0C0C0;
   border: 0px solid transparent;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   text-align: left;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   border: 0px solid transparent;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu1 a.withsubmenu
{
   padding: 0 0px 0 0px;
}
#wb_CssMenu1 ul :hover ul
{
   left: 0px;
   top: 28px;
   padding-top: 0px;
   visibility: visible;
}
#wb_CssMenu1 .firstmain:hover ul
{
   left: 0px;
}
#wb_CssMenu1 li li
{
   width: 135px;
}
#wb_CssMenu1 ul ul a, #wb_CssMenu1 ul :hover ul a
{
   width: 122px;
   padding: 7px 5px 6px 6px;
   background-color: #303A53;
   border: 0px solid transparent;
   border-radius: 5px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   line-height: 13px;
   text-decoration: none;
}
#wb_CssMenu1 ul ul :hover a, #wb_CssMenu1 ul ul a:hover, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul :hover ul :hover a, #wb_CssMenu1 ul ul :hover ul a:hover, #wb_CssMenu1 ul ul a.active, #wb_CssMenu1 ul ul :hover ul a.active
{
   background-color: #A2B9CE;
   border: 1px solid transparent;
   color: #FFFFFF;
}
#wb_CssMenu1 li
{
   padding: 0px 0px 0px 13px;
}
}
